<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="javascripts/jquery-1.11.3.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.btn').on('click', function (e) {
                event.preventDefault();
                // 向server "/buttonClicked" 发送一个get request   
                $.post('/login',{id:'123321'}, function (data) {
                  
                $('.btn').html(data);
                })
            });

        })
    </script>
</head>
<body>
<legend><%= title %></legend>
<form method=post >
<input type="text"  id="username" name="username">

<input type="password"  id="password" name="password">


<button  class="btn">登陆</button>
<%= zz %>
</form>
</body>
</html>
